@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  --background: #ffffff;
  --primary: #37A0D2;
  --black: #181818;
  --green: #1AAF06;
  --primaryLight: #F2FBFF;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --primary: #37A0D2;
    --black: #181818;
    --green: #1AAF06;
    --primaryLight: #F2FBFF;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  scroll-behavior: smooth;
}


body::-webkit-scrollbar {
  display: none !important;
}